{% extends "website/base.html" %}
{% load static %}

{% block content %}
	<div class="project-detail">
		<h2 class="project-detail-title">
		{{detail.name}}
		</h2>
		<div class="project-detail-text">
			<p class="project-detail-text-title">Detalhes:</p>
			<p class="project-detail-text-body">{{detail.description}}</p>
		</div>
		<div class="project-detail-images">
			<img src="{{detail.image.url}}" class="project-detail-images-image">
			{% for image in images %}
				{% if image.url %}
				<img src="{{image.url.url}}" class="project-detail-images-image">
				{% endif %}
			{% endfor %}

		</div>
	</div>



{% endblock %}
