$bodyColor: #F5E6E8;
$textColor: #1F2232;
$headerColor: #87B6A7;
$navbarHeight: 6em;
$font-navbar: 1.5em;
$font-normal:12px;
$font-big: 18px;
$font-title:24px;
$font-ubuntu: 'Ubuntu', sans-serif;
$padding:1em;
$margin:1.5em;
$rounded: 10%;
$rounded-soft: 10px;
$card-width: 750px;
$card-height: 500px;
$border: 1px $textColor;
$menu: 55px;

//media query:
$mobile: 530px;
$tablet: 845px;
$desktops: 1025px;
$large: 1281px;
